
.timeline__icon {
	flex-shrink: 0;
	width: 32px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

.timeline__icon-circle {
	width: 32px;
	height: 32px;
	background-color: #bbd02d;
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.timeline__icon-circle_wide {
	width: 48px;
	height: 48px;
}

.timeline__icon-line {
	width: 2px;
	background-color: #bbd02d;
	color: #fff;
	position: absolute;
	top: 20px;
	bottom: -100px;
	z-index: 0;
}