:root {
	--section-title-font-size:  1.17em;
	--build-button-font-size: 0.75rem;
	--changes-font-size: var(--text-font-size);
	--changes-font-size-desktop: var(--text-font-size-desktop);
}

.timeline__section-title {
	font-size: var(--section-title-font-size);
	padding: 8px 0;
	font-weight: 500;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.timeline__section-title:hover {
	background-color: rgba(208, 207, 207, 0.358);
}

.timeline__section-title-error::before {
	background: url("../../icons/alert.svg") no-repeat center;
	content: "";
	width: 24px;
	height: 24px;
	margin-right: 20px;
	vertical-align: middle;
}

.timeline__section-title-update::before {
	background: url("../../icons/briefcase-outline.svg") no-repeat center;
	content: "";
	width: 24px;
	height: 24px;
	margin-right: 20px;
	vertical-align: middle;
}

.timeline__section-title-api::before {
	background: url("../../icons/api.svg") no-repeat center;
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 20px;
	vertical-align: middle;
}

.timeline__wrapper-icon {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: flex-end;
}

.timeline__icon-up,
.timeline__icon-down {
	width: 24px;
	height: 24px;
	margin-left: 8px;
	background: url("../../icons/chevron-down.svg") no-repeat center;
	transition: transform 0.3s ease;
}

.timeline__icon-up {
	transform: rotate(180deg);
}

.timeline__section-content {
	overflow: hidden;
	transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
	max-height: 0;
	opacity: 0;
}

.timeline__section-content.open {
	max-height: initial;
	opacity: 1;
}

.timeline__section-list {
	list-style-type: none;
	padding-inline-start: 0;
}

.timeline__change-build button {
	background-color: #7555f9;
	color: #fff;
	font-size: var(--build-button-font-size);
	border: none;
	height: 18px;
	cursor: pointer;
	line-height: 1;
	font-weight: 500;
	padding: 4px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	min-height: 22px;
}

.timeline__change {
	display: flex;
	flex-direction: column;
	font-size: var(--changes-font-size);
	padding: 16px 0;
}

.timeline__change-detailed {
	transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
}

.timeline__change-detailed.visible {
	max-height: initial;
	opacity: 1;
}

.timeline__change-detailed.hidden {
	max-height: 0;
	opacity: 0;
}

.timeline__change-title {
	white-space: nowrap;
	margin-right: 1rem;
	font-weight: 500;
	font-style: italic;
}

.timeline__change-text {
	margin-bottom: 5px;
	word-break: break-word;
}

@media screen and (min-width: 1024px) {
	.timeline__change {
		flex-direction: row;
		font-size: var(--changes-font-size-desktop);
	}

	.timeline__section-title {
		padding: 8px 13px;
	}

	.timeline__change {
		padding: 16px;
	}

	.timeline__change-title {
		margin-right: 3.2rem;
	}
}