:root {
	--search-input-font-size: calc(17 / var(--rem)* 1rem);
	--search-input-font-size-desktop: calc(15.5 / var(--rem)* 1rem);
}

.timeline__search {
	display: flex;
	justify-content: space-between;
}

.timeline__search-input-wrapper {
	position: relative;
}

.timeline__search-input {
	width: 230px;
	padding: 1px 25px;
	font-size: var(--search-input-font-size);
}

.timeline__search-icon {
	background-image: url("../../icons/magnify.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
}

.timeline__search-clear-btn {
	background-image: url("../../icons/close-circle-outline.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.3s ease;
}

.timeline__search-clear-btn:hover {
	opacity: 1;
}

@media screen and (min-width: 1024px) {
	.timeline__search-input {
		font-size: var(--search-input-font-size-desktop);
	}
}