.timeline__date-header {
	min-width: 120px;
	position: relative;
}

.timeline__date-title {
	cursor: pointer;
	height: 31px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 2px;
	left: -8px;
	right: 0;
}

.timeline__date-title:hover {
	color: #7555f9;
}

.timeline__group-date {
	top: 10px;
}