.timeline {
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.timeline__filter {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	font-size: 12px;
	align-items: center;
	min-width: 1100px;
	position: relative;
}

.timeline__filter-product {
	font-size: 12px;
	background-color: rgb(204, 204, 204);
	border-radius: 20px;
	padding: 0px 7px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	-webkit-user-select: none; /* Chrome, Safari, Opera */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Стандартное свойство */
}
.timeline__filter-product:hover {
	opacity: 0.9;
}

.timeline__filter-product--active {
	background-color: #bbd02d;
}

.timeline__container {
	display: flex;
	flex-direction: column;
}

.timeline__header {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.timeline__search {
	margin-left: 30px;
	display: flex;
}

.timeline__search-input-wrapper {
	position: relative;
}

.timeline__search-input {
	width: 140px;
	padding: 1px 25px;
}

.timeline__search-icon{
	background-image: url('../src/icons/magnify.svg');
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.timeline__search-clear-btn{
	background-image: url('../src/icons/close-circle-outline.svg');
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.3s ease;
}

.timeline__search-clear-btn:hover {
	opacity: 1;
  }

.timeline__list {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	margin-bottom: 0px;
}

.timeline__list-item {
	margin-bottom: 100px;
	display: flex;
	align-items: stretch;
}

.timeline__date {
	font-size: 12px;
	width: 110px;
	display: flex;
	justify-content: flex-end;
	padding: 5px 10px;
}

.timeline__icon {
	flex-shrink: 0;
	width: 30px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}
.timeline__icon-circle {
	width: 32px;
	height: 32px;
	background-color: #bbd02d;
	color: #fff;
	border-radius: 50%;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.timeline__icon-line {
	width: 2px;
	background-color: #bbd02d;
	color: #fff;
	position: absolute;
	top: 20px;
	bottom: -100px;
}

.timeline__change-item {
	display: flex;
	align-items: stretch;
}

.timeline__content {
	flex: 1;
	padding: 0 10px;
	font-size: 14px;
	color: #333;
	display: flex;
	flex-direction: column;
}

.timeline__title {
	font-size: 17px;
	font-weight: 500;
}

.timeline__change-title {
	white-space: nowrap;
	margin-right: 5px;
	font-weight: 500;
}

.timeline__change-text {
	margin-bottom: 5px;
}

.timeline__end {
	width: 110px;
	height: 2px;
	background-color: #bbd02d;
	margin-left: 90px;
}

.timeline__button-wrapper {
	display: flex;
	justify-content: center;
	height: 30px;
	width: 100%;
}
.timeline__button {
	background-color: #7555f9;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	border: none;
}
.timeline__section-title {
	font-size: 17px;
	margin-bottom: 10px;
	margin-top: 15px;
	font-weight: 500;
}
.timeline__section-title-error::before {
	background: url('../src/icons/alert.svg') no-repeat center;
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: middle;
}
.timeline__section-title-update::before {
	background: url('../src/icons/briefcase-outline.svg') no-repeat center;
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: middle;
}
.timeline__section-title-other::before {
	background: url('../src/icons/alert.svg') no-repeat center;
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: middle;
}
.message-container {
	height: 40px;
	width: 100%;
	border: 1px solid rgb(37, 141, 28);
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: 10px;
	background-color: rgb(250, 237, 201);
}
