.timeline {
	display: flex;
	flex-direction: column;
	padding: 15px 15px 15px 54px;
}

.timeline__container {
	display: grid;
	grid-template-columns: 1fr 360px;
}

.timeline__header {
	font-size: calc(36 / 16 * 1rem);
	font-weight: normal;
	color: #333;
	margin: 1.5rem 0;
}

.timeline__list {
	margin-bottom: 0px;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.timeline__date {
	font-size: 0.9rem;
	min-width: 130px;
	display: flex;
	justify-content: flex-end;
	padding: 5px 10px;
	color: gray;
}

.timeline__title-date-block {
	display: flex;
}

.timeline__end {
	width: 30px;
	height: 2px;
	background-color: #bbd02d;
	position: absolute;
    left: 119px;
}

.timeline__button-wrapper {
	display: flex;
	justify-content: center;
	height: 30px;
	width: 100%;
}

.timeline__button {
	background-color: #7555f9;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	border: none;
}

.message-container {
	height: 40px;
	border: 1px solid rgb(37, 141, 28);
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: 10px;
	background-color: rgb(250, 237, 201);
	margin-right: 20px;
}

.timeline__sidebar {
	min-width: 360px;
}

.timeline__filters {
	position: sticky;
	top: 156px;
	padding-left: 20px;
	margin-top: 18px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-left: 1px solid #ccc;
}

.timeline__checkbox-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
	font-size: 12px;
	position: relative;

	overflow-y: auto;
  	scrollbar-width: none;
}

.timeline__checkbox-container::-webkit-scrollbar {
	display: none;
}

.timeline__switch-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.timeline__box {
	flex: 1;
	position: relative;
}

.btn-show-all {
	cursor: pointer;
	color: #7555f9;
	margin-top: 10px;
}

marker {
	background-color: #bbd02d;
}

.empty {
	height: 31px;
	border-top: 1px solid rgba(208, 207, 207, 0.358);
	border-bottom: 1px solid rgba(208, 207, 207, 0.358);
}

.timeline__date-items {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease, padding 0.5s ease;
	padding: 0;
}

.timeline__date-items.expanded {
	max-height: 6000px;
	transition: max-height 2s ease, padding 0.5s ease;
}

.timeline__date-items.collapsed {
	max-height: 0;
	transition: max-height 1s ease, padding 0.5s ease;
}
