html {
	font-size: 18px;
}

#app {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
ul {
	list-style-type: none; /* Убирает буллиты */
	padding-inline-start: 0; /* Убираем левый отступ */
}

input {
	border: none; /* Убираем стандартную границу */
	border-bottom: 2px solid rgba(0, 0, 0, .24);
	outline: none; /* Убираем стандартный фокус */
	transition: border-bottom-color 0.2s ease-in-out; /* Плавный переход цвета */
}

input:focus {
  border-bottom: 2px solid #bbd02d;
}
