:root {
	--group-title-font-size: 1.5em;
}

.timeline__group {
	margin-bottom: 30px;
	display: flex;
}

.timeline__group-header {
	display: none;
	min-width: 120px;
	position: relative;
}

.timeline__group-content {
	flex: 1;
	padding: 0 16px;
	color: #333;
	display: flex;
	flex-direction: column;
}

.timeline__group-title-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.timeline__group-copy-link-button {
	position: relative;
	width: 42px;
}

.timeline__group-title {
	font-size: var(--group-title-font-size);
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: rgba(0, 0, 0, 0.12) solid 1px;
}

.timeline__group-description {
	font-size: 1.2rem;
    padding: 8px 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
	flex-wrap: wrap;
}

.timeline__group-description * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@media screen and (min-width: 600px) {
	.timeline__group-title {
		min-width: 350px;
	}
}

@media screen and (min-width: 1024px) {
	.timeline__group-header {
		display: block;
	}
}
